<h1>New subtraction</h1>
<form action = "/wizard_subtract">
  <div>
    <label for ="1">Subtract this:</label>
      <input id="1" type="text" name="first_num">
    <label for ="2">from this:</label>
      <input id="2" type="text" name="second_num">
    <button>Subtract!</button>
  </div>
</form>
