<h1>Street address to coordinates calculation</h1>
<div>
<form action="/street_to_coords/results">
<label for = "location">Street Address </label>
  <input id = "location" type = "text" name = "user_input" placeholder="Enter the address">
</div>
<button>Lookup Coordinates!</button>
</form>